{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Books | Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'reviews/css/styles.css' %}" media="screen" title="no title" charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
    <div id="wrapper">
        <div id="welcome">
            <div id="heading">
            <h3>Welcome, {{user.name}}!</h3>
            </div>
            <div class="topright">
                <a href="/books/add">Add Book and Review</a>
                <span>|</span>
                <a href="/logout">Logout</a>
            </div>
            <br>
            <p>
                Successfully {{request.session.status}}
            </p>
        </div>
        <br>
        <br>
        <div id="homereviews">
            <h4>Recent Book Reviews:</h4>
            <br>
            {% for r in reviews %}
            <div class="reviewbox">
                <p><a href="/books/{{r.book.id}}">{{r.book.title}}</a></p>
                <p>Rating: 
                    {% if r.rating == 5 %}
                        <img src="{% static 'reviews/images/5.png' %}" /> 
                    {% elif r.rating == 4 %}
                        <img src="{% static 'reviews/images/4.png' %}" /> 
                    {% elif r.rating == 3 %}
                        <img src="{% static 'reviews/images/3.png' %}" /> 
                    {% elif r.rating == 2 %}
                        <img src="{% static 'reviews/images/2.png' %}" /> 
                    {% elif r.rating == 1 %}
                        <img src="{% static 'reviews/images/1.png' %}" /> 
                    {% endif %}
                </p>
                <p class="italic"><a href="/reviewer/{{r.reviewer.id}}">{{r.reviewer.name}}</a> says: {{r.review}}</p>
                <p class="italic">Posted on: {{r.created_at}}</p>
            </div>
            {% endfor %}
        </div>
        <div id="homebooks">
            <h5>Other Books with Reviews:</h5>
            <br>
            <div id="bookscroll">
            {% for b in books %}
                <p><a href="/books/{{b.id}}">{{b.title}}</a></p>
            {% endfor%}
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>